body {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

:root {
  /* font-size */
  --font-size-xxs: 1rem;
  --font-size-xs: 1.25rem;
  --font-size-small: 2.1875rem;
  --font-size-medium: 2.5rem;
  --font-size-large: 4.375rem;

  /* font-colors */

  --black: #000;
  --blue: #598392;
  --white: #f0e9f2;
  --white-1: #e5e5e6da;

  /* background-color */

  --background-black: #000;
}

header {
  background-image: url("images/header.jpg");
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  margin-bottom: 0;
}

#list-menu {
  list-style: none;
  margin: 0 4.375em 0 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 45px;
}

a {
  text-decoration: none;
  font-size: var(--font-size-medium);
  color: var(--white-1);
}

.details {
  max-width: 100%;
  height: 500px;
  padding: 1.875em;
  margin: 9.375em;
}

#user-name {
  font-size: var(--font-size-large);
  color: var(--white);
  font-weight: 700;
}

#user-description {
  font-size: var(--font-size-small);
  color: var(--white-1);
}

#btn-interaction {
  border: 2px solid var(--blue);
  background-color: var(--blue);
  font-size: var(--font-size-xs);
  color: var(--white-1);
  padding: 1em 2.5em;
  cursor: pointer;
}

#btn-interaction:hover {
  background-color: transparent;
}

main {
  background-color: var(--background-black);
  width: 100vw;
  margin-bottom: 0;
}

.work-space {
  display: flex;
  justify-content: space-around;
}

#main-title,
#title-section {
  font-size: var(--font-size-large);
  color: var(--white-1);
  letter-spacing: 10px;
  padding: 0.7412em;
  margin-left: 2.1428em;
  margin-top: 0;
  margin-bottom: 0.28571em;
}

.work-space-one,
.work-space-two {
  width: 420px;
  height: 400px;
}

.space {
  margin-bottom: 3.125em;
}

#project-title {
  font-size: var(--font-size-medium);
  color: var(--white);
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0.25em;
}

#project-description {
  font-size: var(--font-size-xs);
  font-weight: 300;
  color: var(--white);
  margin-bottom: 0px;
}

#project-list {
  margin-top: 1.25em;
}

li {
  font-size: var(--font-size-xs);
  color: var(--white-1);
  font-weight: 300;
  margin-top: 0.5em;
}

#project-link {
  font-size: var(--font-size-xs);
  font-weight: 300;
  color: var(--white);
}

#project-img {
  width: 400px;
  height: 330px;
  box-shadow: 8px -8px 7px rgb(71, 70, 70);
}

section {
  background-color: var(--background-black);
  height: 600px;
}

#title-section {
  margin-bottom: 0;
}

.description-section {
  width: 750px;
  height: 300px;
  padding: 2.5em;
  margin-left: 9.375em;
  margin-top: 0;
}

#description {
  margin-top: 0;
  color: var(--white);
  font-size: var(--font-size-xs);
  font-weight: 300;
}

ul {
  padding: 0 1em;
}

#list-certification {
  font-size: var(--font-size-xxs);
  color: var(--white-1);
}

footer {
  background-color: var(--background-black);
  width: 100%;
  height: 100px;
  padding-top: 6.25em;
}

#logo-contact {
  display: flex;
  justify-content: center;
  gap: 20px;
}

#arrow-up {
  display: none;
  position: fixed;
  bottom: 46px;
  right: 16px;
  padding: 1.25em 1.562em;
  border: none;
  border-radius: 50%;
  background-color: #e63946;
}

@media (max-width: 874px) {
  html,
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  #list-menu {
    display: flex;
    justify-content: center;
  }

  a {
    font-size: var(--font-size-xs);
  }

  .details {
    width: 500px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #user-name {
    font-size: var(--font-size-small);
  }

  #user-description {
    font-size: var(--font-size-xs);
    text-align: center;
  }

  #btn-interaction {
    padding: 0.625em 1.562em;
    font-size: var(--font-size-xxs);
  }

  #main-title,
  #title-section {
    font-size: var(--font-size-small);
    width: 300px;
    height: 50px;
    margin: 0 auto;
    padding: 0.857em 1.571em;
    text-align: center;
  }

  .work-space {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .work-space-one,
  .work-space-two {
    width: 380px;
    height: 280px;
    margin: 0 auto;
    text-align: center;
  }

  .work-space-one {
    margin-top: 1.25em;
  }

  .space {
    margin-bottom: 2.5em;
  }

  #project-title {
    font-size: var(--font-size-xs);
  }

  #project-description {
    font-size: var(--font-size-xs);
  }

  #project-list {
    list-style: none;
  }

  #project-link {
    font-size: var(--font-size-xs);
  }

  #project-img {
    width: 380px;
    height: 300px;
  }

  section {
    height: 400px;
  }

  .description-section {
    width: 400px;
    height: 230px;
    margin: 0 auto;
    text-align: center;
  }

  #description {
    font-size: var(--font-size-xxs);
    margin-top: 0px;
  }

  #list-certification {
    font-size: 12px;
  }

  footer {
    height: 50px;
  }
}
